/*
O========================================================================O
|------------------------------------------------------------------------|
| Folha de estilo para a estilização de animações dos componentes em css |
|------------------------------------------------------------------------|
O========================================================================O

Exemplo: animações para se usar em hover, focus, after/before, etc.
*/

/*Itens do cabeçalho*/
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--c4);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*Detalhamento de botões do cabeçalho*/
.logo-div img:hover{
    border-color: var(--c3);
}
#SingUp:hover{
    border-color: var(--c3);
}
#SingIn:hover{
    color: var(--c3);
}

/*Cor do link do rodapé*/
.ft-text a:hover{
    color:var(--c4);
}

/*Link de esqueceu a senha do form de login*/
.form-item a:hover{
    color: var(--c3);
}


/*Itens do forms de login*/
.input-form:hover{
    border-bottom: 1px solid var(--c3);
    padding-left: 7px;
}

.input-form:focus{
    padding-left: 10px;
    border-bottom: 1px solid var(--c4);
}

/*Itens do submit-div*/
.primary-btn:hover{
    background-color: var(--c1);
    border-color: var(--c3);
}
.submit-div a:hover{
    color: var(--c3);
}