/*
O==================================================O
|--------------------------------------------------|
| Folha de estilo para a estilização básica do css |
|--------------------------------------------------|
O==================================================O

Exemplo: Fontes, medidas pré-definidas, palhetas de cores, formatos, etc.

-Anotação: passou no https://validator.w3.org como css sem erros (desde o último teste). 21/04/2023 17:18
*/

/*Importando MUITAS fontes Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Definindo variáveis de cor e parâmetros de texto e rolagem*/
html{
    /*Usando a regra das 3 cores*/
    /*Divs Colors*/
    --d-c-1: #1e2124;
    --d-c-2: #282b30;
    --d-c-3: #36393e;
    --d-c-4: #424549;

    /*Text Colors*/
    --t-c-1: #ffffff;
    --t-c-2: #ffffff87;
    --t-c-3: #ffffff5d;

    /*emphasis colors*/
    --e-c-1: #7e75d0;
    --e-c-2: #7e75d0c8;
    --e-c-3: #7e75d09c;  

    /*preset colors*/
    --errorColor: #e46969;
    --rightColor: #69e484;
    --warningColor: #e4de69;

    /*Configurações de fonte*/
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    
    /*Scroll da página*/
    scroll-behavior: smooth;
}

/*Definições padrões de tamanhos e distâncias*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}

