/*
O==================================================================O
|------------------------------------------------------------------|
| Folha de estilo para a estilização de componentes do site em css |
|------------------------------------------------------------------|
O==================================================================O

Exemplo: botões, links, imputs em geral.
*/


/*+=================================================+ ITENS PRINCIPAIS +=================================================+*/
/*Scroll*/
/*-------------- Background/ScrollBar --------------*/
body::-webkit-scrollbar {
    width: 5px;
}
  
body::-webkit-scrollbar-track{
    background: var(--c2);
}
  
body::-webkit-scrollbar-thumb{
    background-color: var(--c3);
    border-radius: 2px;
}

/*+-----------------------+ Itens do cabeçalho +-----------------------+*/
/*Itens da logo*/
.logo-div img{
    height: 5rem;
    border: 1px solid var(--c4);
    border-radius: 5px;
    transition: all .2s;
}

/*lista dos botões do menu*/
.li-btn{
    display: inline;
    transition: all .2s;
}

/*Botão em sí*/
.menu-btn{
    font-size: 16px;
    color: var(--c4);
    text-decoration: none;
    margin: 10px;

    display:inline-block;
    position: relative;
    transition: all .2s;
}

/*Detalhamento de botões de login/registro*/
#SingUp{
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border: solid 1px var(--c4);
}

/* +-----------------------+Itens do footer +-----------------------+*/
/*Texto do rodapé*/
.ft-text{
    color: var(--c4);
    font-size: 15px;
}

/*link do rodapé*/
.ft-text a{
    color: var(--c5);
    font-weight: bold;
    transition: all .2s;
}


/*+=================================================+ ITENS SECUNDARIOS +=================================================+*/
.form-title h1{
    color: var(--c4);
}
.form-item a{
    margin-left: auto;
    margin-right: 10px;
    margin-top: 7px;
    text-decoration: none;
    color: var(--c4);

    transition: all .2s;
}

.label-form{
    margin-left: 3px;
    color: var(--c4);
    font-size: 13px;
    margin-bottom: 8px;
}
.input-form{
    outline: none;

    padding: 5px;
    min-width: 35rem;

    background-color: var(--c1);
    color: var(--c4);
    
    outline: none;
    border:none;
    border-bottom: 1px solid var(--c2);
    
    transition: all .2s;
}
.input-form::placeholder{
    color: var(--c3);
}

.primary-btn{
    cursor: pointer;

    margin-bottom: 10px;
    padding: 5px 15px;
    width: 100px;

    border-radius: 5px;
    border: 1px solid var(--c4);
    background-color: var(--c1);
    color: var(--c4);

    transition: all .2s;
}

.submit-div p{
    color: var(--c4);
}
.submit-div a{
    text-decoration: none;
    color: var(--c5);
    transition: all .2s;
}